.navbar-inverse
{
	background-color: #191C1F;
}

.navbar-brand 
{
    padding: 4px 15px !important;
    width: 200px;
}

.nav-img
{
    padding: 2px 15px !important;
    float: right;
    margin-right: -2%;
}

.fa
{
	padding: 15px 15px !important;
	color: white;
}

.label-primary
{
	font-size:80%;
	color: black;
	padding: 5px;
}